<div class="contact_us_outer_wrapper">
   <div class="container dt-prl-30 content">
      <div class="row">
         <div class="col-md-12 lazyload-element">
            <div class="row contact-details">
               <div class="col-12 col-sm-6 left-main-div lazyload-element">
                  <section class="inner-wrapper">
                     <h1>Positions Available<br>At Excision</h1>
                     <p class="font-bold">Join our dynamic team.</p>
                  </section>
               </div>
               <div class="col-12 col-sm-6 lazyload-element">
                  <div class="contact-form-wrapper">
                     <h2>Apply For A Position</h2>
                     <div id="contactFormWrapper" class="hs_EnquiryForm">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                           hbspt.forms.create({
                             region: "na1",
                             portalId: "2595431",
                             formId: "3a15023b-b63e-4aab-af1d-d0292d0c1443"
                           });
                        </script>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="container dt-prl-30">
   <div class="row career lazyload-element">
      <h2 class="col-12 col-md-12 section-title">{{ section.settings.section_title_1 }}</h2>
      {% if section.settings.enable_card_1 %}
      <div class="col-12 col-md-6 career">
         <div class="card-2 card hoverable">
            <!-- <div class="card-image"></div> -->
            <div class="card-content" style="height: 85px;">
               <h3 class="card-title">{{ section.settings.card_title_1 }} </h3>
            </div>
         </div>
      </div>
      {% endif %}
      {% if section.settings.enable_card_2 %}
      <div class="col-12 col-md-6 career">
         <div class="card-2 card hoverable">
            <!-- <div class="card-image"></div> -->
            <div class="card-content" style="height: 85px;">
               <h3 class="card-title">{{ section.settings.card_title_2 }}</h3>
            </div>
         </div>
      </div>
      {% endif %}
      {% if section.settings.enable_card_3 %}
      <div class="col-12 col-md-6 career">
         <div class="card-2 card hoverable">
            <!-- <div class="card-image"></div> -->
            <div class="card-content" style="height: 85px;">
               <h3 class="card-title">{{ section.settings.card_title_3 }}</h3>
            </div>
         </div>
      </div>
      {% endif %}
      {% if section.settings.enable_card_4 %}
      <div class="col-12 col-md-6 career">
         <div class="card-2 card hoverable">
            <!-- <div class="card-image"></div> -->
            <div class="card-content" style="height: 85px;">
               <h3 class="card-title">{{ section.settings.card_title_4 }}</h3>
            </div>
         </div>
      </div>
      {% endif %}
      {% if section.settings.enable_card_5 %}
      <div class="col-12 col-md-6 career">
         <div class="card-2 card hoverable">
            <!-- <div class="card-image"></div> -->
            <div class="card-content" style="height: 85px;">
               <h3 class="card-title">{{ section.settings.card_title_5 }}</h3>
            </div>
         </div>
      </div>
      {% endif %}
      {% if section.settings.enable_card_6 %}
      <div class="col-12 col-md-6 career">
         <div class="card-2 card hoverable">
            <!-- <div class="card-image"></div> -->
            <div class="card-content" style="height: 85px;">
               <h3 class="card-title">{{ section.settings.card_title_6 }}</h3>
            </div>
         </div>
      </div>
      {% endif %}
   </div>
</div>

<style>
  input {
    border-bottom: 2px solid #f1f1f1 !important;
    padding: 0px;
    height: 40px;
  }
  select {
    border-bottom: 2px solid #f1f1f1 !important;
    padding: 0px;
    height: 40px;
  }
  input.hs-button.primary.large {
    margin-bottom: 10px !important;
  }
  .col-md-6.career {
    flex: 0 20%;
    display: flex;
  }
  .card.card-2 {
    width: 100%;
    margin-bottom: 20px;
  }
  div.row.career {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  h1 {
    color: white !important;
  }
</style>

{% schema %}
  {
    "name": "Career Page",
    "settings": [
      {
        "type": "header",
        "content": "Page info"
      },
      {
        "type": "text",
        "id": "section_page_title",
        "label": "Page title"
      },
      {
        "type": "textarea",
        "id": "section_page_info",
        "label": "Info"
      },
      {
        "type": "header",
        "content": "Section #1"
      },
      {
        "type": "text",
        "id": "section_title_1",
        "label": "Section title"
      },
      {
        "type": "header",
        "content": "Position #1"
      },
      {
        "type": "checkbox",
        "id": "enable_card_1",
        "label": "Show Position",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_1",
        "label": "Position Title"
      },
      {
        "type": "header",
        "content": "Position #2"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2",
        "label": "Show Position",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2",
        "label": "Position Title"
      },
      {
        "type": "header",
        "content": "Position #3"
      },
       {
        "type": "checkbox",
        "id": "enable_card_3",
        "label": "Show Position",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3",
        "label": "Position Title"
      },
      {
        "type": "header",
        "content": "Position #4"
      },
       {
        "type": "checkbox",
        "id": "enable_card_4",
        "label": "Show Position",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4",
        "label": "Position Title"
      },
      {
        "type": "header",
        "content": "Position #5"
      },
      {
        "type": "checkbox",
        "id": "enable_card_5",
        "label": "Show Position",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_5",
        "label": "Position Title"
      },
      {
        "type": "header",
        "content": "Position #6"
      },
       {
        "type": "checkbox",
        "id": "enable_card_6",
        "label": "Show Position",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_6",
        "label": "Position Title"
      }    
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
