<div class="container small">
   <div class="product-grid row">
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/bandsaw-blade-range" title="View Bandsaw Blades">
            <img class="product-image" loading="eager" src="{{ collections.bandsaw-blades | img_url: 'medium' }}"  alt="Bandsaw Blades" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Bandsaw Blades</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/coldsaw-blades" title="View Coldsaw Blades">
            <img class="product-image" loading="eager" src="{{ collections.coldsaw-blades | img_url: 'medium' }}"  alt="Coldsaw Blades" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Coldsaw Blades</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/coolant" title="View Coolants">
            <img class="product-image" loading="eager" src="{{ collections.soluble-oils | img_url: 'medium' }}"  alt="Coolants" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Coolants</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/tct-circular-blades" title="View TCT Circular Blades">
            <img class="product-image" loading="eager" src="{{ collections.tct-circular-blades | img_url: 'medium' }}" alt="TCT Circular Blades" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">TCT Circular Blades</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/magnetic-based-drills" title="View Magnetic Based Drills">
            <img class="product-image" loading="eager" src="{{ collections.magnetic-based-drills | img_url: 'medium' }}"  alt="Magnetic Based Drills" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Magnetic Based Drills</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/core-drills-accessories" title="View Core Drills &amp; Accessories">
            <img class="product-image" loading="eager" src="{{ collections.core-drills-accessories | img_url: 'medium' }}"  alt="Core Drills &amp; Accessories" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Core Drills &amp; Accessories</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>

      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/holesaws-accessories" title="View Holesaws &amp; Accessories">
            <img class="product-image" loading="eager" src="{{ collections.holesaws-accessories | img_url: 'medium' }}" alt="Holesaws &amp; Accessories" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Holesaws &amp; Accessories</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>

      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/collections/punch-dies" title="View Punch &amp; Dies">
            <img class="product-image" loading="eager" src="{{ collections.punch-dies | img_url: 'medium' }}" alt="Punch &amp; Dies" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Punch &amp; Dies</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>

      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/metal-cutting-machines" title="View Metal Cutting Machines">
            <img class="product-image" loading="eager" src="{{ collections.metal-cutting-machines | img_url: 'medium' }}" alt="Metal Cutting Machines" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Metal Cutting Machines</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
     
      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/pages/metal-preparing-machines" title="View Metal Preparing Machines">
            <img class="product-image" loading="eager" src="{{ collections.metal-preparing-machines | img_url: 'medium' }}" alt="Metal Preparing Machines" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Metal Preparing Machines</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>

      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/collections/machine-tooling" title="View Machine Tooling">
            <img class="product-image" loading="eager" src="{{ collections.machine-tooling | img_url: 'medium' }}" alt="Machine Tooling" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Machine Tooling</h2> 
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>

      <div class="col-sm-3">
         <a class="product-card card hoverable" href="/collections/industrial-clamps" title="View Industrial Clamps">
            <img class="product-image" loading="eager" src="{{ collections.industrial-clamps | img_url: 'medium' }}" alt="Industrial Clamps" width="88" height="88">
            <div class="product-detail" style="height: 44px;">
               <h2 class="product-name">Industrial Clamps</h2>
            </div>
            <button class="btn view-all waves-effect waves-light z-depth-3">View All</button>
         </a>
      </div>
     
   </div>
</div>


{% comment %}
<!-- 
<div id="shopify-section-collection-list" class="shopify-section collection-list-section">
   <div data-section-id="collection-list" data-section-type="collections-list-template">
      <hr>
      <div class="section-header">
         <h2 class="h1  section-header--left">Shop For</h2>
         <div class="section-header--right">
            <a href="/collections">More categories ›</a>
         </div>
      </div>
      <div class="grid-uniform text-center">        
        <div class="grid-item small--one-half one-quarter">
            <a href="/collections/bandsaw-blades" title="Browse our Bandsaw Blades collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Bandsaw Blades" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_125x.jpg?v=1595919446 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_180x.jpg?v=1595919446 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_360x.jpg?v=1595919446 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_540x.jpg?v=1595919446 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_720x.jpg?v=1595919446 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_900x.jpg?v=1595919446 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1080x.jpg?v=1595919446 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1296x.jpg?v=1595919446 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1512x.jpg?v=1595919446 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1728x.jpg?v=1595919446 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_2048x.jpg?v=1595919446 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_125x.jpg?v=1595919446 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_180x.jpg?v=1595919446 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_360x.jpg?v=1595919446 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_540x.jpg?v=1595919446 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_720x.jpg?v=1595919446 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_900x.jpg?v=1595919446 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1080x.jpg?v=1595919446 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1296x.jpg?v=1595919446 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1512x.jpg?v=1595919446 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_1728x.jpg?v=1595919446 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_2048x.jpg?v=1595919446 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_580x.jpg?v=1595919446"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_580x.jpg?v=1595919446 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/6844d5779925f459e13168649d8ab1a0_580x@2x.jpg?v=1595919446 2x"
                        alt="Bandsaw Blades" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Bandsaw Blades</span>
            </a>
         </div>
         
       <div class="grid-item small--one-half one-quarter">
            <a href="/pages/coldsaw-blades" title="Browse our Coldsaw Blades collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Coldsaw Blades" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_125x.jpg?v=1595919449 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_180x.jpg?v=1595919449 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_360x.jpg?v=1595919449 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_540x.jpg?v=1595919449 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_720x.jpg?v=1595919449 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_900x.jpg?v=1595919449 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1080x.jpg?v=1595919449 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1296x.jpg?v=1595919449 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1512x.jpg?v=1595919449 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1728x.jpg?v=1595919449 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_2048x.jpg?v=1595919449 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_125x.jpg?v=1595919449 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_180x.jpg?v=1595919449 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_360x.jpg?v=1595919449 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_540x.jpg?v=1595919449 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_720x.jpg?v=1595919449 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_900x.jpg?v=1595919449 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1080x.jpg?v=1595919449 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1296x.jpg?v=1595919449 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1512x.jpg?v=1595919449 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_1728x.jpg?v=1595919449 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_2048x.jpg?v=1595919449 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_580x.jpg?v=1595919449"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_580x.jpg?v=1595919449 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/f924787b8117ffae82b18ef262689b1b_580x@2x.jpg?v=1595919449 2x"
                        alt="Coldsaw Blades" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Coldsaw Blades</span>
            </a>
         </div>
        
         <div class="grid-item small--one-half one-quarter">
            <a href="/pages/coolants" title="Browse our Coolants collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Coolants" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_125x.jpg?v=1595919452 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_180x.jpg?v=1595919452 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_360x.jpg?v=1595919452 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_540x.jpg?v=1595919452 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_720x.jpg?v=1595919452 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_900x.jpg?v=1595919452 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1080x.jpg?v=1595919452 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1296x.jpg?v=1595919452 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1512x.jpg?v=1595919452 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1728x.jpg?v=1595919452 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_2048x.jpg?v=1595919452 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_125x.jpg?v=1595919452 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_180x.jpg?v=1595919452 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_360x.jpg?v=1595919452 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_540x.jpg?v=1595919452 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_720x.jpg?v=1595919452 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_900x.jpg?v=1595919452 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1080x.jpg?v=1595919452 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1296x.jpg?v=1595919452 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1512x.jpg?v=1595919452 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_1728x.jpg?v=1595919452 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_2048x.jpg?v=1595919452 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_580x.jpg?v=1595919452"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_580x.jpg?v=1595919452 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/98684d4d77c9b14b8e4c65e08421f735_580x@2x.jpg?v=1595919452 2x"
                        alt="Coolants" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Coolants</span>
            </a>
         </div>
         <div class="grid-item small--one-half one-quarter">
            <a href="/pages/magnetic-based-drills" title="Browse our Magnetic Based Drills collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Magnetic Based Drills" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_125x.jpg?v=1595919454 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_180x.jpg?v=1595919454 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_360x.jpg?v=1595919454 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_540x.jpg?v=1595919454 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_720x.jpg?v=1595919454 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_900x.jpg?v=1595919454 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1080x.jpg?v=1595919454 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1296x.jpg?v=1595919454 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1512x.jpg?v=1595919454 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1728x.jpg?v=1595919454 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_2048x.jpg?v=1595919454 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_125x.jpg?v=1595919454 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_180x.jpg?v=1595919454 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_360x.jpg?v=1595919454 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_540x.jpg?v=1595919454 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_720x.jpg?v=1595919454 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_900x.jpg?v=1595919454 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1080x.jpg?v=1595919454 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1296x.jpg?v=1595919454 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1512x.jpg?v=1595919454 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_1728x.jpg?v=1595919454 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_2048x.jpg?v=1595919454 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_580x.jpg?v=1595919454"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_580x.jpg?v=1595919454 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/ff224807f8a0bf5ef0e1a4c9e415b31c_580x@2x.jpg?v=1595919454 2x"
                        alt="Magnetic Based Drills" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Magnetic Based Drills</span>
            </a>
         </div>
      </div>
   </div>
</div>

<div id="shopify-section-1595828213532" class="shopify-section collection-list-section">
   <div data-section-id="1595828213532" data-section-type="collections-list-template">
      <hr>
      <div class="section-header">
         <h2 class="h1  section-header--left">Shop For</h2>
         <div class="section-header--right">
            <a href="/collections">More categories ›</a>
         </div>
      </div>
      <div class="grid-uniform text-center">        
         <div class="grid-item small--one-half one-quarter">           
            <a href="/pages/core-drills-accessories" title="Browse our Core Drills &amp; Accessories collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Core Drills &amp; Accessories" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_125x.jpg?v=1595919458 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_180x.jpg?v=1595919458 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_360x.jpg?v=1595919458 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_540x.jpg?v=1595919458 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_720x.jpg?v=1595919458 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_900x.jpg?v=1595919458 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1080x.jpg?v=1595919458 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1296x.jpg?v=1595919458 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1512x.jpg?v=1595919458 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1728x.jpg?v=1595919458 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_2048x.jpg?v=1595919458 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_125x.jpg?v=1595919458 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_180x.jpg?v=1595919458 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_360x.jpg?v=1595919458 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_540x.jpg?v=1595919458 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_720x.jpg?v=1595919458 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_900x.jpg?v=1595919458 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1080x.jpg?v=1595919458 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1296x.jpg?v=1595919458 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1512x.jpg?v=1595919458 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_1728x.jpg?v=1595919458 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_2048x.jpg?v=1595919458 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_580x.jpg?v=1595919458"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_580x.jpg?v=1595919458 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/0b96fa4e871d019910e41ff6c142386b_580x@2x.jpg?v=1595919458 2x"
                        alt="Core Drills & Accessories" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Core Drills &amp; Accessories</span>
            </a>
         </div>
         <div class="grid-item small--one-half one-quarter">
            <a href="/pages/holesaws-accessories" title="Browse our Holesaws &amp; Accessories collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Holesaws &amp; Accessories" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_125x.jpg?v=1595919460 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_180x.jpg?v=1595919460 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_360x.jpg?v=1595919460 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_540x.jpg?v=1595919460 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_720x.jpg?v=1595919460 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_900x.jpg?v=1595919460 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1080x.jpg?v=1595919460 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1296x.jpg?v=1595919460 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1512x.jpg?v=1595919460 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1728x.jpg?v=1595919460 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_2048x.jpg?v=1595919460 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_125x.jpg?v=1595919460 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_180x.jpg?v=1595919460 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_360x.jpg?v=1595919460 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_540x.jpg?v=1595919460 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_720x.jpg?v=1595919460 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_900x.jpg?v=1595919460 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1080x.jpg?v=1595919460 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1296x.jpg?v=1595919460 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1512x.jpg?v=1595919460 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_1728x.jpg?v=1595919460 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_2048x.jpg?v=1595919460 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_580x.jpg?v=1595919460"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_580x.jpg?v=1595919460 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/3e52966d0aeb6561fd205399e6b74781_580x@2x.jpg?v=1595919460 2x"
                        alt="Holesaws & Accessories" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Holesaws &amp; Accessories</span>
            </a>
         </div>
         <div class="grid-item small--one-half one-quarter">
            <a href="/collections/punch-dies" title="Browse our Punch &amp; Dies collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Punch &amp; Dies" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_125x.jpg?v=1595919463 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_180x.jpg?v=1595919463 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_360x.jpg?v=1595919463 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_540x.jpg?v=1595919463 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_720x.jpg?v=1595919463 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_900x.jpg?v=1595919463 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1080x.jpg?v=1595919463 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1296x.jpg?v=1595919463 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1512x.jpg?v=1595919463 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1728x.jpg?v=1595919463 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_2048x.jpg?v=1595919463 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_125x.jpg?v=1595919463 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_180x.jpg?v=1595919463 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_360x.jpg?v=1595919463 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_540x.jpg?v=1595919463 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_720x.jpg?v=1595919463 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_900x.jpg?v=1595919463 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1080x.jpg?v=1595919463 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1296x.jpg?v=1595919463 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1512x.jpg?v=1595919463 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_1728x.jpg?v=1595919463 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_2048x.jpg?v=1595919463 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_580x.jpg?v=1595919463"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_580x.jpg?v=1595919463 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/cec0021e74866eced3fd3b4dc57981fa_580x@2x.jpg?v=1595919463 2x"
                        alt="Punch & Dies" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Punch &amp; Dies</span>
            </a>
         </div>
        <div class="grid-item small--one-half one-quarter">
            <a href="/pages/metal-cutting-machines" title="Browse our Metal Cutting Machines collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Metal Cutting Machines" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_125x.jpg?v=1595919466 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_180x.jpg?v=1595919466 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_360x.jpg?v=1595919466 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_540x.jpg?v=1595919466 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_720x.jpg?v=1595919466 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_900x.jpg?v=1595919466 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1080x.jpg?v=1595919466 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1296x.jpg?v=1595919466 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1512x.jpg?v=1595919466 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1728x.jpg?v=1595919466 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_2048x.jpg?v=1595919466 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_125x.jpg?v=1595919466 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_180x.jpg?v=1595919466 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_360x.jpg?v=1595919466 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_540x.jpg?v=1595919466 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_720x.jpg?v=1595919466 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_900x.jpg?v=1595919466 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1080x.jpg?v=1595919466 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1296x.jpg?v=1595919466 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1512x.jpg?v=1595919466 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_1728x.jpg?v=1595919466 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_2048x.jpg?v=1595919466 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_580x.jpg?v=1595919466"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_580x.jpg?v=1595919466 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/763c5fb28313c5432cc31224c9a4d6d2_580x@2x.jpg?v=1595919466 2x"
                        alt="Metal Cutting Machines" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Metal Cutting Machines</span>
            </a>
         </div>         
      </div>
   </div>
</div>

<div id="shopify-section-1596622778213" class="shopify-section collection-list-section">
   <div data-section-id="1596622778213" data-section-type="collections-list-template">
      <hr>
      <div class="section-header">
         <h2 class="h1  section-header--left">Shop For</h2>
         <div class="section-header--right">
            <a href="/collections">More categories ›</a>
         </div>
      </div>
      <div class="grid-uniform text-center">        
        <div class="grid-item small--one-half one-quarter">
            <a href="/pages/tct-circular-blades" title="Browse our TCT Circular Blades collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="TCT Circular Blades" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_125x.jpg?v=1595919469 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_180x.jpg?v=1595919469 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_360x.jpg?v=1595919469 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_540x.jpg?v=1595919469 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_720x.jpg?v=1595919469 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_900x.jpg?v=1595919469 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1080x.jpg?v=1595919469 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1296x.jpg?v=1595919469 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1512x.jpg?v=1595919469 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1728x.jpg?v=1595919469 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_2048x.jpg?v=1595919469 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_125x.jpg?v=1595919469 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_180x.jpg?v=1595919469 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_360x.jpg?v=1595919469 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_540x.jpg?v=1595919469 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_720x.jpg?v=1595919469 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_900x.jpg?v=1595919469 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1080x.jpg?v=1595919469 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1296x.jpg?v=1595919469 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1512x.jpg?v=1595919469 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_1728x.jpg?v=1595919469 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_2048x.jpg?v=1595919469 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_580x.jpg?v=1595919469"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_580x.jpg?v=1595919469 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/33a40c92fa5fa287de3ce967cb5f1527_580x@2x.jpg?v=1595919469 2x"
                        alt="TCT Circular Blades" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">TCT Circular Blades</span>
            </a>
         </div>
         
         <div class="grid-item small--one-half one-quarter">
            <a href="/pages/metal-preparing-machines" title="Browse our Metal Preparing Machines collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Metal Preparing Machines" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_125x.jpg?v=1595919472 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_180x.jpg?v=1595919472 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_360x.jpg?v=1595919472 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_540x.jpg?v=1595919472 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_720x.jpg?v=1595919472 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_900x.jpg?v=1595919472 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1080x.jpg?v=1595919472 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1296x.jpg?v=1595919472 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1512x.jpg?v=1595919472 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1728x.jpg?v=1595919472 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_2048x.jpg?v=1595919472 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_125x.jpg?v=1595919472 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_180x.jpg?v=1595919472 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_360x.jpg?v=1595919472 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_540x.jpg?v=1595919472 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_720x.jpg?v=1595919472 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_900x.jpg?v=1595919472 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1080x.jpg?v=1595919472 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1296x.jpg?v=1595919472 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1512x.jpg?v=1595919472 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_1728x.jpg?v=1595919472 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_2048x.jpg?v=1595919472 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_580x.jpg?v=1595919472"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_580x.jpg?v=1595919472 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/d9d42361fcbcde9d7a9c7020273e3c3e_580x@2x.jpg?v=1595919472 2x"
                        alt="Metal Preparing Machines" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Metal Preparing Machines</span>
            </a>
         </div>
         
         <div class="grid-item small--one-half one-quarter">
            <a href="/collections/dust-and-fume-control" title="Browse our Dust and Fume Control collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Dust and Fume Control" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_125x.jpg?v=1595919476 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_180x.jpg?v=1595919476 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_360x.jpg?v=1595919476 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_540x.jpg?v=1595919476 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_720x.jpg?v=1595919476 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_900x.jpg?v=1595919476 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1080x.jpg?v=1595919476 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1296x.jpg?v=1595919476 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1512x.jpg?v=1595919476 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1728x.jpg?v=1595919476 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_2048x.jpg?v=1595919476 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_125x.jpg?v=1595919476 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_180x.jpg?v=1595919476 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_360x.jpg?v=1595919476 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_540x.jpg?v=1595919476 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_720x.jpg?v=1595919476 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_900x.jpg?v=1595919476 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1080x.jpg?v=1595919476 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1296x.jpg?v=1595919476 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1512x.jpg?v=1595919476 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_1728x.jpg?v=1595919476 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_2048x.jpg?v=1595919476 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_580x.jpg?v=1595919476"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_580x.jpg?v=1595919476 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2569e0bafb89c58c945f3126183fafcc_580x@2x.jpg?v=1595919476 2x"
                        alt="Dust and Fume Control" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Dust and Fume Control</span>
            </a>
         </div>
         <div class="grid-item small--one-half one-quarter">
            <a href="/collections/industrial-clamps" title="Browse our Industrial Clamps collection" class="featured-box">
               <div class="featured-box--inner" style="height: 115px;">
                  <div class="featured-box--image  vertical-middle">
                     <div id="" class="lazyload__image-wrapper no-js" style="max-width: 200px;">
                        <div style="padding-top:100.0%;">
                           <img class="no-js lazyautosizes lazyloaded" data-widths="[125, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="Industrial Clamps" data-srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_125x.jpg?v=1595919481 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_180x.jpg?v=1595919481 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_360x.jpg?v=1595919481 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_540x.jpg?v=1595919481 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_720x.jpg?v=1595919481 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_900x.jpg?v=1595919481 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1080x.jpg?v=1595919481 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1296x.jpg?v=1595919481 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1512x.jpg?v=1595919481 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1728x.jpg?v=1595919481 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_2048x.jpg?v=1595919481 2048w" sizes="115px" srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_125x.jpg?v=1595919481 125w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_180x.jpg?v=1595919481 180w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_360x.jpg?v=1595919481 360w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_540x.jpg?v=1595919481 540w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_720x.jpg?v=1595919481 720w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_900x.jpg?v=1595919481 900w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1080x.jpg?v=1595919481 1080w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1296x.jpg?v=1595919481 1296w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1512x.jpg?v=1595919481 1512w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_1728x.jpg?v=1595919481 1728w, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_2048x.jpg?v=1595919481 2048w">
                        </div>
                     </div>
                  </div>
                  <noscript>
                     <img src="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_580x.jpg?v=1595919481"
                        srcset="//cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_580x.jpg?v=1595919481 1x, //cdn.shopify.com/s/files/1/0439/5597/8399/collections/2976cc9673dd499b16551ca2a54e837a_580x@2x.jpg?v=1595919481 2x"
                        alt="Industrial Clamps" style="opacity:1;">
                  </noscript>
               </div>
               <span class="featured-box--title" style="height: 31px;">Industrial Clamps</span>
            </a>
         </div>
      </div>
   </div>
</div> -->
{% endcomment %}

{% schema %}
{
  "name": "Home Collections list",
  "max_blocks": 9,
  "blocks": [
    {
      "type": "html",
      "name": "Custom HTML",
      "settings": [
        {
          "type": "html",
          "id": "code",
          "label": "HTML",
          "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
        },
        {
          "type": "select",
          "id": "width",
          "label": "Container width",
          "default": "100%",
          "options": [
            {
              "value": "25%",
              "label": "25%"
            },
            {
              "value": "33%",
              "label": "33%"
            },
            {
              "value": "50%",
              "label": "50%"
            },
            {
              "value": "66%",
              "label": "66%"
            },
            {
              "value": "75%",
              "label": "75%"
            },
            {
              "value": "100%",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Vertical alignment",
          "default": "top-middle",
          "options": [
            {
              "value": "top-middle",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Middle"
            },
            {
              "value": "bottom-middle",
              "label": "Bottom"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home Collections list",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "html"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  @media (max-width: 768px) {
    .product-grid > .col-sm-3 { width: 50%; }
  }
</style>