<div class="container dt-prl-30 simple-lazyload">
  <div class="row">
      <div class="col-sm-12 {{ section.settings.align_text }} lazyload-element">
         <h2 class="video">{{ section.settings.title }}</h2> 
      </div>    
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}   
            <div class="col-sm-4 lazyload-element">
                <div class="card-2 card hoverable modal-video-trigger" data-video-id="{{ block.settings.video_id }}">              
                  <div class="card-image">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ block.settings.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   </div>
                   <div class="card-content" style="height: 92px;">
                      <h2>{{ block.settings.video_title }}</h2>
                   </div> 
                </div>
            </div>
        {% endfor %}
     {% endif %}   
  </div>
</div>

<style>
  div.card.card-panel.white.contact-card.hoverable {
    background: white;
    border-radius: 15px;
  }
</style>

{% schema %}
  {
    "name": "Videos",
    "max_blocks": 50,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Name"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [          
          {
            "type": "text",
            "id": "video_id",
            "label": "YouTube embed ID"
          },
          {
            "type": "text",
            "id": "video_title",
            "label": "Title",
            "default": "title"
          }
        ]
      }
    ]
  }
{% endschema %} 