<div class="container dt-prl-30">
    <div class="row">
        <h2 class="col-12 col-sm-12 section-title lazyload-element">{{ section.settings.section_title_2 }}</h2>        
        {% if section.settings.enable_card_2_1 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_1 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_1 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_1 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_1 }}', 1); return false;" title="{{ section.settings.card_title_2_1 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}
        
        {% if section.settings.enable_card_2_2 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_2 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_2 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_2 }}" rel="50" onclick="downloads.openFile('{{ section.settings.card_url_2_2 }}', 1); return false;" title="{{ section.settings.card_title_2_2 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_3 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_3 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_3 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_3 }}" rel="34" onclick="downloads.openFile('{{ section.settings.card_url_2_3 }}', 1); return false;" title="{{ section.settings.card_title_2_3 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_4 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_4 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_2_4 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_4 }}" rel="57" onclick="downloads.openFile('{{ section.settings.card_url_2_4 }}', 1); return false;" title="{{ section.settings.card_title_2_4 }}  ">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_5 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_5 }}                      
                    <span class="item-info">
                     ({{ section.settings.card_size_2_5 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_5 }}" rel="56" onclick="downloads.openFile('{{ section.settings.card_url_2_5 }}', 1); return false;" title="{{ section.settings.card_title_2_5 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_6 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_6 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_2_6 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_6 }}" rel="35" onclick="downloads.openFile('{{ section.settings.card_url_2_6 }}', 1); return false;" title="{{ section.settings.card_title_2_6 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_7 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_7 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_7 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_7 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_7 }}', 1); return false;" title="{{ section.settings.card_title_2_7 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}
        
        {% if section.settings.enable_card_2_8 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_8 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_8 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_8 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_8 }}', 1); return false;" title="{{ section.settings.card_title_2_8 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}
        
        {% if section.settings.enable_card_2_9 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_9 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_9 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_9 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_9 }}', 1); return false;" title="{{ section.settings.card_title_2_9 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}

         {% if section.settings.enable_card_2_10 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_10 }}</h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_10 }}" rel="51" title="{{ section.settings.card_title_2_10 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}

         {% if section.settings.enable_card_2_11 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_11 }}</h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_11 }}" rel="51" title="{{ section.settings.card_title_2_11 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}

         {% if section.settings.enable_card_2_12 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_12 }}</h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_12 }}" rel="51" title="{{ section.settings.card_title_2_12 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}

         {% if section.settings.enable_card_2_13 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_13 }}</h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_13 }}" rel="51" title="{{ section.settings.card_title_2_13 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}

         {% if section.settings.enable_card_2_14 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_14 }}</h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_14 }}" rel="51" title="{{ section.settings.card_title_2_14 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}

         {% if section.settings.enable_card_2_15 %}
         <div class="col-12 col-sm-4 lazyload-element">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92x;">
                  <h2 class="card-title">{{ section.settings.card_title_2_15 }}</h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_15 }}" rel="51" title="{{ section.settings.card_title_2_15 }}">
                  <p class="action font-bold">Download <em>→</em></p>
               </a>
            </div>
         </div>
         {% endif %}
      </div>
   </div>


{% schema %}
  {
    "name": "Etc Brochures",
    "settings": [     
      {
        "type": "text",
        "id": "section_title_2",
        "label": "Section title"
      },
      {
        "type": "header",
        "content": "Card #1"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_1",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_1",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_1",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_1",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #2"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_2",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_2",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_2",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_2",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #3"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_3",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_3",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_3",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_3",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #4"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_4",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_4",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_4",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_4",
        "label": "Card download url" 
      },
      {
        "type": "header",
        "content": "Card #5"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_5",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_5",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_5",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_5",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #6"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_6",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_6",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_6",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_6",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #7"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_7",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_7",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_7",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_7",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #8"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_8",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_8",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_8",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_8",
        "label": "Card download url"
      },
     {
        "type": "header",
        "content": "Card #9"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_9",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_9",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_9",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_9",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #10"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_10",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_10",
        "label": "Card Title"
      },
      {
        "type": "url",
        "id": "card_url_2_10",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #11"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_11",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_11",
        "label": "Card Title"
      },
      {
        "type": "url",
        "id": "card_url_2_11",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #12"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_12",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_12",
        "label": "Card Title"
      },
      {
        "type": "url",
        "id": "card_url_2_12",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #13"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_13",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_13",
        "label": "Card Title" 
      },
      {
        "type": "url",
        "id": "card_url_2_13",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #14"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_14",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_14",
        "label": "Card Title"
      },
      {
        "type": "url",
        "id": "card_url_2_14",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #15"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_15",
        "label": "Show Card",
        "default": false
      },
      {
        "type": "text",
        "id": "card_title_2_15",
        "label": "Card Title"
      },
      {
        "type": "url",
        "id": "card_url_2_15",
        "label": "Card download url"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
