<div class="container">
   <div class="row">
        <h2 class="col-sm-12 section-title">{{ section.settings.section_title_1 }}</h2>        
        {% if section.settings.enable_card_1 %}
         <div class="col-sm-6">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_1 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_1 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_1 }}" rel="3" onclick="downloads.openFile('{{ section.settings.card_url_1 }}', 1); return false;" title="{{ section.settings.card_title_1 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
         {% if section.settings.enable_card_2 %}
         <div class="col-sm-6">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2 }}" rel="37" onclick="downloads.openFile('{{ section.settings.card_url_2 }}', 1); return false;" title="{{ section.settings.card_title_2 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3 %}
         <div class="col-sm-6">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3 }}" rel="2" onclick="downloads.openFile('{{ section.settings.card_url_3 }}', 1); return false;" title="{{ section.settings.card_title_3 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4 %}
         <div class="col-sm-6">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2>{{ section.settings.card_title_4 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4 }}" rel="29" onclick="downloads.openFile('{{ section.settings.card_url_4 }}', 1); return false;" title="{{ section.settings.card_title_4 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_5 %}
         <div class="col-sm-6">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2>{{ section.settings.card_title_5 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_5 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_5 }}" rel="29" onclick="downloads.openFile('{{ section.settings.card_url_5 }}', 1); return false;" title="{{ section.settings.card_title_5 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_6 %}
         <div class="col-sm-6">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2>{{ section.settings.card_title_6 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_6 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_6 }}" rel="29" onclick="downloads.openFile('{{ section.settings.card_url_6 }}', 1); return false;" title="{{ section.settings.card_title_6 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
      </div>
   </div>
  
   <!-- Section 2 --->
   <div class="container">
      <div class="row">
         <h2 class="col-sm-12 section-title">{{ section.settings.section_title_2 }}</h2>        
        {% if section.settings.enable_card_2_1 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_1 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_1 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_1 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_1 }}', 1); return false;" title="{{ section.settings.card_title_2_1 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
         {% endif %}
        
        {% if section.settings.enable_card_2_2 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_2 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_2 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_2 }}" rel="50" onclick="downloads.openFile('{{ section.settings.card_url_2_2 }}', 1); return false;" title="{{ section.settings.card_title_2_2 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_3 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_3 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_3 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_3 }}" rel="34" onclick="downloads.openFile('{{ section.settings.card_url_2_3 }}', 1); return false;" title="{{ section.settings.card_title_2_3 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_4 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_4 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_2_4 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_4 }}" rel="57" onclick="downloads.openFile('{{ section.settings.card_url_2_4 }}', 1); return false;" title="{{ section.settings.card_title_2_4 }}  ">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_5 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_5 }}                      
                    <span class="item-info">
                     ({{ section.settings.card_size_2_5 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_5 }}" rel="56" onclick="downloads.openFile('{{ section.settings.card_url_2_5 }}', 1); return false;" title="{{ section.settings.card_title_2_5 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_6 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_6 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_2_6 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_6 }}" rel="35" onclick="downloads.openFile('{{ section.settings.card_url_2_6 }}', 1); return false;" title="{{ section.settings.card_title_2_6 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_2_7 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_7 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_7 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_7 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_7 }}', 1); return false;" title="{{ section.settings.card_title_2_7 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
         {% endif %}
        
        {% if section.settings.enable_card_2_8 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_8 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_8 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_8 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_8 }}', 1); return false;" title="{{ section.settings.card_title_2_8 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
         {% endif %}
        
        {% if section.settings.enable_card_2_9 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_2_9 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_2_9 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_2_9 }}" rel="51" onclick="downloads.openFile('{{ section.settings.card_url_2_9 }}', 1); return false;" title="{{ section.settings.card_title_2_9 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
         {% endif %}
      </div>
   </div>

   <!-- Section 3 --->
   <div class="container">
      <div class="row">
         <h2 class="col-sm-12 section-title">{{ section.settings.section_title_3 }}</h2>        
        {% if section.settings.enable_card_3_1 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_1 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_1 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_1 }}" rel="32" onclick="downloads.openFile('{{ section.settings.card_url_3_1 }}', 1); return false;" title="{{ section.settings.card_title_3_1 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_2 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_2 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_2 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_2 }}" rel="54" onclick="downloads.openFile('{{ section.settings.card_url_3_2 }}', 1); return false;" title="{{ section.settings.card_title_3_2 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_3 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_3 }}                      
                    <span class="item-info">
                     ({{ section.settings.card_size_3_3 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_3 }}" rel="52" onclick="downloads.openFile('{{ section.settings.card_url_3_3 }}', 1); return false;" title="{{ section.settings.card_title_3_3 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_4 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_4 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_4 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_4 }}" rel="53" onclick="downloads.openFile('{{ section.settings.card_url_3_4 }}', 1); return false;" title="{{ section.settings.card_title_3_4 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_5 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_5 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_5 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_5 }}" rel="31" onclick="downloads.openFile('{{ section.settings.card_url_3_5 }}', 1); return false;" title="{{ section.settings.card_title_3_5 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_6 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_6 }}                      
                    <span class="item-info">
                     ({{ section.settings.card_size_3_6 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_6 }}" rel="33" onclick="downloads.openFile('{{ section.settings.card_url_3_6 }}', 1); return false;" title="{{ section.settings.card_title_3_6 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_7 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title"> {{ section.settings.card_title_3_7 }}                   
                    <span class="item-info">
                     ({{ section.settings.card_size_3_7 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_7 }}" rel="9" onclick="downloads.openFile('{{ section.settings.card_url_3_7 }}', 1); return false;" title="{{ section.settings.card_title_3_7 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_8 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_8 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_8 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_8 }}" rel="28" onclick="downloads.openFile('{{ section.settings.card_url_3_8 }}', 1); return false;" title="{{ section.settings.card_title_3_8 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_9 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_9 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_9 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_9 }}" rel="27" onclick="downloads.openFile('{{ section.settings.card_url_3_9 }}', 1); return false;" title="{{ section.settings.card_title_3_9 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_10 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_10 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_10 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_10 }}" rel="27" onclick="downloads.openFile('{{ section.settings.card_url_3_10 }}', 1); return false;" title="{{ section.settings.card_title_3_10}}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_11 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_11 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_11 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_11 }}" rel="27" onclick="downloads.openFile('{{ section.settings.card_url_3_11 }}', 1); return false;" title="{{ section.settings.card_title_3_11 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_3_12 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_3_12 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_3_12 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_3_12 }}" rel="27" onclick="downloads.openFile('{{ section.settings.card_url_3_12 }}', 1); return false;" title="{{ section.settings.card_title_3_12 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
      </div>
   </div>

   <!-- Section 4 -->
   <div class="container">
      <div class="row">
         <h2 class="col-sm-12 section-title">{{ section.settings.section_title_4 }}</h2>        
        {% if section.settings.enable_card_4_1 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_1 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_1 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_1 }}" rel="36" onclick="downloads.openFile('{{ section.settings.card_url_4_1 }}', 1); return false;" title="{{ section.settings.card_title_4_1 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_2 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_2 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4_2 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_2 }}" rel="58" onclick="downloads.openFile('{{ section.settings.card_url_4_2 }}', 1); return false;" title="{{ section.settings.card_title_4_2 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_3 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_3 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_3 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_3 }}" rel="10" onclick="downloads.openFile('{{ section.settings.card_url_4_3 }}', 1); return false;" title="{{ section.settings.card_title_4_3 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_4 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92px;">
                  <h2>{{ section.settings.card_title_4_4 }}                      
                    <span class="item-info">
                     ({{ section.settings.card_size_4_4 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_4 }}" rel="17" onclick="downloads.openFile('{{ section.settings.card_url_4_4 }}', 1); return false;" title="{{ section.settings.card_title_4_4 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_5 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92px;">
                  <h2>{{ section.settings.card_title_4_5 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4_5 }} )
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_5 }} " rel="18" onclick="downloads.openFile('{{ section.settings.card_url_4_5 }} ', 1); return false;" title="{{ section.settings.card_title_4_5 }} ">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_6 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92px;">
                  <h2>{{ section.settings.card_title_4_6 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_6 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_6 }}" rel="15" onclick="downloads.openFile('{{ section.settings.card_url_4_6 }}', 1); return false;" title="{{ section.settings.card_title_4_6 }} ">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_7 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92px;">
                  <h2>{{ section.settings.card_title_4_7 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4_7 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_7 }}" rel="16" onclick="downloads.openFile('{{ section.settings.card_url_4_7 }}', 1); return false;" title="{{ section.settings.card_title_4_7 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_8 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92px;">
                  <h2>{{ section.settings.card_title_4_8 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_8 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_8 }}" rel="14" onclick="downloads.openFile('{{ section.settings.card_url_4_8 }}', 1); return false;" title="{{ section.settings.card_title_4_8 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_9 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 92px;">
                  <h2>{{ section.settings.card_title_4_9 }}
                    <span class="item-info">
                     ({{ section.settings.card_size_4_9 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_9 }}" rel="23" onclick="downloads.openFile('{{ section.settings.card_url_4_9 }}', 1); return false;" title="{{ section.settings.card_title_4_9 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_10 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_10 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4_10 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="" rel="21" onclick="downloads.openFile('{{ section.settings.card_url_4_10 }}', 1); return false;" title="{{ section.settings.card_title_4_10 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_11 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_11 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_11 }} )
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_11 }} " rel="7" onclick="downloads.openFile('{{ section.settings.card_url_4_11 }} ', 1); return false;" title="{{ section.settings.card_title_4_11 }} ">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_12 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_12 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_12 }} )
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_12 }} " rel="20" onclick="downloads.openFile('{{ section.settings.card_url_4_12 }} ', 1); return false;" title="{{ section.settings.card_title_4_12 }} ">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_13 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_13 }}                         
                    <span class="item-info">
                     ({{ section.settings.card_size_4_13 }} )
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_13 }} " rel="22" onclick="downloads.openFile('{{ section.settings.card_title_4_13 }} ', 1); return false;" title="{{ section.settings.card_title_4_13 }} ">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_14 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_14 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4_14 }} )
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_14 }} " rel="25" onclick="downloads.openFile('{{ section.settings.card_url_4_14 }}', 1); return false;" title="{{ section.settings.card_title_4_14 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_15 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_15 }}                      
                    <span class="item-info">
                     ({{ section.settings.card_size_4_15 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_15 }}" rel="38" onclick="downloads.openFile('{{ section.settings.card_url_4_15 }}', 1); return false;" title="{{ section.settings.card_title_4_15 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_16 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_16 }}                
                    <span class="item-info">
                     ({{ section.settings.card_size_4_16 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_16 }}" rel="19" onclick="downloads.openFile('{{ section.settings.card_url_4_16 }}', 1); return false;" title="{{ section.settings.card_title_4_16 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_17 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="height: 114px;">
                  <h2 class="card-title">{{ section.settings.card_title_4_17 }}                       
                    <span class="item-info">
                     ({{ section.settings.card_size_4_17 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_17 }}" rel="24" onclick="downloads.openFile('{{ section.settings.card_url_4_17 }}', 1); return false;" title="{{ section.settings.card_title_4_17 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_18 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="">
                  <h2>{{ section.settings.card_title_4_18 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_18 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_18 }}" rel="30" onclick="downloads.openFile('{{ section.settings.card_url_4_18 }}', 1); return false;" title="{{ section.settings.card_title_4_18 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
       {% if section.settings.enable_card_4_19 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="">
                  <h2>{{ section.settings.card_title_4_19 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_19 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_19 }}" rel="30" onclick="downloads.openFile('{{ section.settings.card_url_4_19 }}', 1); return false;" title="{{ section.settings.card_title_4_19 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_20 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="">
                  <h2>{{ section.settings.card_title_4_20 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_20 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_20 }}" rel="30" onclick="downloads.openFile('{{ section.settings.card_url_4_20 }}', 1); return false;" title="{{ section.settings.card_title_4_20 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
        
        {% if section.settings.enable_card_4_21 %}
         <div class="col-sm-4">
            <div class="card-2 card hoverable">
               <!-- <div class="card-image"></div> -->
               <div class="card-content" style="">
                  <h2>{{ section.settings.card_title_4_21 }}                        
                    <span class="item-info">
                     ({{ section.settings.card_size_4_21 }})
                     </span>
                  </h2>
               </div>
               <a class="card-action" target="_blank" href="{{ section.settings.card_url_4_21 }}" rel="30" onclick="downloads.openFile('{{ section.settings.card_url_4_21 }}', 1); return false;" title="{{ section.settings.card_title_4_21 }}">
                  <p class="action font-bold">Download <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
               </a>
            </div>
         </div>
        {% endif %}
      </div>
   </div>

{% schema %}
  {
    "name": "Resources Page",
    "settings": [     
      {
        "type": "header",
        "content": "Section #1"
      },
      {
        "type": "text",
        "id": "section_title_1",
        "label": "Section title"
      },
      {
        "type": "header",
        "content": "Card #1"
      },
      {
        "type": "checkbox",
        "id": "enable_card_1",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_1",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_1",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_1",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #2"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #3"
      },
       {
        "type": "checkbox",
        "id": "enable_card_3",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #4"
      },
       {
        "type": "checkbox",
        "id": "enable_card_4",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4",
        "label": "Card download url"
      },
            {
        "type": "header",
        "content": "Card #5"
      },
      {
        "type": "checkbox",
        "id": "enable_card_5",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_5",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_5",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_5",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #6"
      },
       {
        "type": "checkbox",
        "id": "enable_card_6",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_6",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_6",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_6",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Section #2"
      },
      {
        "type": "text",
        "id": "section_title_2",
        "label": "Section title"
      },
      {
        "type": "header",
        "content": "Card #1"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_1",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_1",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_1",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_1",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #2"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_2",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_2",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_2",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_2",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #3"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_3",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_3",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_3",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_3",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #4"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_4",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_4",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_4",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_4",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #5"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_5",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_5",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_5",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_5",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #6"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_6",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_6",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_6",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_6",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #7"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_7",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_7",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_7",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_7",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #8"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_8",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_8",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_8",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_8",
        "label": "Card download url"
      },
     {
        "type": "header",
        "content": "Card #9"
      },
      {
        "type": "checkbox",
        "id": "enable_card_2_9",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_2_9",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_2_9",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_2_9",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Section #3"
      },
      {
        "type": "text",
        "id": "section_title_3",
        "label": "Section title"
      },
      {
        "type": "header",
        "content": "Card #1"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_1",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_1",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_1",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_1",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #2"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_2",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_2",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_2",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_2",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #3"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_3",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_3",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_3",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_3",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #4"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_4",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_4",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_4",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_4",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #5"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_5",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_5",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_5",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_5",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #6"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_6",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_6",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_6",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_6",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #7"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_7",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_7",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_7",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_7",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #8"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_8",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_8",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_8",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_8",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #9"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_9",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_9",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_9",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_9",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #10"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_10",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_10",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_10",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_10",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #11"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_11",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_11",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_11",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_11",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #12"
      },
      {
        "type": "checkbox",
        "id": "enable_card_3_12",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_3_12",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_3_12",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_3_12",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Section #4"
      },
      {
        "type": "text",
        "id": "section_title_4",
        "label": "Section title"
      },
      {
        "type": "header",
        "content": "Card #1"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_1",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_1",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_1",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_1",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #2"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_2",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_2",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_2",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_2",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #3"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_3",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_3",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_3",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_3",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #4"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_4",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_4",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_4",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_4",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #5"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_5",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_5",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_5",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_5",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #6"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_6",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_6",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_6",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_6",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #7"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_7",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_7",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_7",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_7",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #8"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_8",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_8",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_8",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_8",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #9"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_9",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_9",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_9",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_9",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #10"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_10",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_10",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_10",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_10",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #11"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_11",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_11",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_11",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_11",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #12"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_12",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_12",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_12",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_12",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #13"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_13",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_13",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_13",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_13",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #14"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_14",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_14",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_14",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_14",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #15"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_15",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_15",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_15",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_15",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #16"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_16",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_16",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_16",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_16",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #17"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_17",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_17",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_17",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_17",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #18"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_18",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_18",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_18",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_18",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #19"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_19",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_19",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_19",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_19",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #20"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_20",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_20",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_20",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_20",
        "label": "Card download url"
      },
      {
        "type": "header",
        "content": "Card #21"
      },
      {
        "type": "checkbox",
        "id": "enable_card_4_21",
        "label": "Show Card",
        "default": true
      },
      {
        "type": "text",
        "id": "card_title_4_21",
        "label": "Card Title"
      },
      {
        "type": "text",
        "id": "card_size_4_21",
        "label": "Card size"
      },
      {
        "type": "url",
        "id": "card_url_4_21",
        "label": "Card download url"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
